<body>
  <link rel="stylesheet" href="app.component.css" />

  <div class="header">
    <h1>Tea-Coffee Vending Machine</h1>
  </div>

  <!--nagivation bar-->
  <br />
  <div class="navbar">
    <a href="home.html">HomeApp</a> | <a href="refill.html">Refill</a> |
    <a href="report.html">Report</a> |
    <a href="container-status.html">Container Status</a>|
  </div>
  <br />
  <div class="operation">
    <div>
      <h2>Choose Drink</h2>
      <br />
    </div>
    <table class="tbl-column-highlight">
      <tr>
        <td>Tea</td>
        <td><input type="number" placeholder="1" />Cup</td>
        <td>Rs. 10.0/cup</td>
        <td><button type="button">Get Drink</button></td>
      </tr>

      <tr>
        <td>Black Tea</td>
        <td><input type="number" placeholder="1" />Cup</td>
        <td>Rs. 5.0/cup</td>
        <td><button type="button">Get Drink</button></td>
      </tr>

      <tr>
        <td>Coffee</td>
        <td><input type="number" placeholder="1" />Cup</td>

        <td>Rs. 15.0/cup</td>
        <td><button type="button">Get Drink</button></td>
      </tr>

      <tr>
        <td>Black Coffee</td>
        <td><input type="number" placeholder="1" />Cup</td>

        <td>Rs. 10.0/cup</td>
        <td><button type="button">Get Drink</button></td>
      </tr>
    </table>
    <br />
  </div>
  <br />
</body>

<div class="footer">
  <footer class="bg-dark text-white mt-5 p-4 text-center">
    All rights reserved - Copyright @2021
  </footer>
</div>
