<html>
  <head></head>
  <body>
    <table>
      <tbody>
        <tr>
          <th>SR</th>
          <th>Container</th>
          <th>Max Capacity</th>
          <th>Available</th>
          <th>Fill</th>
        </tr>

        <tr>
          <td>1</td>
          <td>Tea</td>
          <td>2 kg</td>
          <td>1.89 kg</td>
          <input type="number" name="teaFill" />
        </tr>

        <tr>
          <td>2</td>
          <td>Coffee</td>
          <td>2 kg</td>
          <td>2 kg</td>
          <input type="number" name="coffeeFill" />
        </tr>

        <tr>
          <td>3</td>
          <td>Suger</td>
          <td>8 kg</td>
          <td>7.91 kg</td>
          <input type="number" name="sugarFill" />
        </tr>

        <tr>
          <td>4</td>
          <td>Water</td>
          <td>15 litters</td>
          <td>14.17 litters</td>
          <input type="number" name="waterFill" />
        </tr>

        <tr>
          <td>5</td>
          <td>Milk</td>
          <td>15 litters</td>
          <td>14.39 litters</td>
          <input type="number" name="milkFill" />
        </tr>
      </tbody>
    </table>
  </body>
</html>
